
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header, footer {
  background-color:rgb(44, 44, 46);
  color: white;
  padding: 10px 20px;
}

.header-search {
  margin: 10px 0;
  width:250px;
 
}

.category-bar {
  background-color: #343a40;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.category-bar a {
  color: white;
  text-decoration: none;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  margin: 0 10px;
}
